:host {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    .main {
      display: flex;
      height: 100%;
      margin-bottom: auto;
      padding: 24px;
      align-items: center;
    }
    footer{
        height: 48px;
        display: flex;
        align-items: center;
        padding: 8px 24px;
        background-color: #3f517599;
    }
}
